@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
nav {
  padding-top: 31px;
  padding-bottom: 31px;
}
nav .container .logo {
  display: flex;
}
nav .container .logo img.logo {
  width: 40px;
  height: 32px;
  margin-right: 11px;
}
nav .container .logo h4.logo {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: rgb(65, 65, 65);
  font-size: 20px;
  line-height: 56px;
}