@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
footer {
  background-color: #ffffff;
  padding-bottom: 58px;
  max-width: 100%;
}
footer .container {
  display: flex;
}
@media (max-width: 910px) {
  footer .container {
    display: grid !important;
  }
}
footer .container li:nth-child(1) {
  padding-top: 38px;
}
footer .container ul.footer-menu {
  display: flex !important;
  padding-top: 34px;
}
@media (max-width: 910px) {
  footer .container ul.footer-menu {
    display: grid !important;
  }
}
footer .container ul.footer-menu li {
  margin-right: 40px;
}
footer .container ul.footer-menu li a {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(65, 65, 65);
}
footer .container ul.footer-menu li:nth-child(1) {
  margin-top: -27px;
}
footer .container ul.footer-menu li:nth-child(2) {
  margin-top: 10px;
}
footer .container ul.footer-menu li:nth-child(3) {
  margin-top: 10px;
}
footer .container ul.footer-menu li:nth-child(4) {
  margin-top: 10px;
}
footer .container ul.footer-menu li:nth-child(5) {
  margin-top: 10px;
}
footer .container ul.num {
  display: flex;
  padding-top: 40px;
}
@media (max-width: 910px) {
  footer .container ul.num {
    display: grid !important;
  }
}
footer .container ul.num li {
  margin-right: 16px;
}
footer .container ul.num li:nth-child(1) {
  margin-top: -37px;
}
footer .container ul.num .flex {
  display: flex !important;
}
footer .container ul.num .flex .number {
  display: flex;
  margin-left: 40px;
}
footer .container ul.num .flex .number img {
  width: 24px;
  height: 24px;
}
footer .container ul.num .flex .number p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(65, 65, 65);
  padding-left: 8px;
}
footer .container ul.num .flex .company {
  margin-left: -150px;
  display: flex;
  margin-top: 30px;
}
footer .container ul.num .flex .company p.design {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(65, 65, 65);
}
footer .container ul.num .flex .company img {
  width: 100px;
  height: 10px;
  margin-top: 5px;
  margin-left: 8px;
}

nav {
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  border: none !important;
  position: fixed;
  width: 100%;
  z-index: 1111;
  order: 1;
  background-color: white;
}
nav .container {
  padding-top: 31px;
  padding-bottom: 31px;
  display: flex;
}
nav .container .logo {
  display: flex;
  margin-right: 40px;
}
@media (max-width: 1200px) {
  nav .container .logo {
    margin-right: 20px !important;
  }
}
nav .container .logo img.logo {
  width: 40px;
  height: 32px;
  margin-right: 11px;
}
nav .container .logo h4.logo {
  margin-top: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: rgb(65, 65, 65);
}
@media (max-width: 1200px) {
  nav .container .logo h4.logo {
    display: none;
  }
}
nav .container .drop {
  display: flex;
  background-color: rgb(65, 65, 65);
  height: 40px !important;
  border-radius: 4px;
  padding-top: 120px;
}
@media (max-width: 690px) {
  nav .container .drop {
    display: none !important;
  }
}
nav .container .drop i.fa {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
nav .container .drop a {
  display: block !important;
  text-decoration: none;
  list-style: none;
}
nav .container .drop a h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
  color: white;
  padding-right: 8px;
}
@media (max-width: 1200px) {
  nav .container .drop a h3 {
    display: none;
  }
}
nav .container input {
  width: 360px;
  border-radius: 4px;
  border: 1px solid rgb(112, 192, 91);
  height: 40px;
  margin-left: 16px;
  padding-left: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(143, 143, 143);
}
nav .container ul.Menu {
  display: flex;
  margin-left: 40px;
}
@media (max-width: 690px) {
  nav .container ul.Menu {
    display: none !important;
  }
}
@media (max-width: 980px) {
  nav .container ul.Menu {
    margin-left: 20px !important;
  }
}
nav .container ul.Menu li {
  text-align: center;
  margin-right: 24px;
}
nav .container ul.Menu li:hover {
  position: relative;
  top: -10px;
  transition: 1s;
}
nav .container ul.Menu li:hover h5 {
  color: #F63;
}
@media (max-width: 1200px) {
  nav .container ul.Menu li {
    margin-right: 16px;
  }
}
nav .container ul.Menu li a h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(65, 65, 65);
}
nav ul.acc {
  display: flex;
}
@media (max-width: 690px) {
  nav ul.acc {
    display: none !important;
  }
}
nav ul.acc li a h5 {
  margin-top: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(35, 35, 35);
  margin-left: 10px;
  margin-right: 18px;
}
@media (max-width: 780px) {
  nav ul.acc li a h5 {
    display: none;
  }
}
nav ul.acc li a i.fa {
  margin-top: 10px;
}
@media (max-width: 780px) {
  nav ul.acc li a i.fa {
    display: none;
  }
}

.nav-bottom {
  position: fixed;
  margin-top: 205px;
  width: 100%;
  background-color: white;
  display: flex;
  top: 1250px;
  z-index: 1111;
  order: 1;
  display: none;
  justify-content: center;
}
@media (max-width: 500px) {
  .nav-bottom {
    display: block;
    display: flex;
    top: 875px;
  }
}
@media (max-width: 340px) {
  .nav-bottom {
    margin-top: 0px;
  }
}
@media (max-width: 330px) {
  .nav-bottom {
    top: 940px;
  }
}
.nav-bottom .drop-down {
  display: flex;
  background-color: rgb(112, 192, 91);
  height: 40px !important;
  border-radius: 4px;
  width: 35px;
}
.nav-bottom .drop-down i.fa {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-bottom ul.Menu {
  display: flex;
}
.nav-bottom ul.Menu li {
  text-align: center;
  margin-right: 16px;
}
.nav-bottom ul.Menu li a h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(65, 65, 65);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  margin-left: 116px;
  margin-right: 116px;
  max-width: 100%;
}
@media (max-width: 980px) {
  .container {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

.down {
  padding-top: 160px !important;
  visibility: visible !important;
  overflow: visible !important;
  transition: 1s !important;
}

.row {
  display: flex;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.drop {
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: -150px;
  height: 100px;
  visibility: hidden;
  overflow: hidden;
}
.drop .container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 880px) {
  .drop .container {
    display: grid !important;
  }
}
@media (max-width: 830px) {
  .drop .container {
    display: flex !important;
  }
}
@media (max-width: 880px) {
  .drop .container ul {
    display: flex !important;
  }
}
@media (max-width: 830px) {
  .drop .container ul {
    display: grid !important;
  }
}
.drop .container ul li {
  margin-bottom: 10px;
}
@media (max-width: 880px) {
  .drop .container ul li {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.drop .container ul li a {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgb(112, 192, 91);
}
@media (max-width: 880px) {
  .drop .container ul li a {
    background-color: transparent;
    border: 1px solid rgb(112, 192, 91);
    border-radius: 4px;
    padding: 8px;
    color: rgb(112, 192, 91);
  }
}
@media (max-width: 830px) {
  .drop .container ul li a {
    font-size: 10px;
    font-weight: 400;
    line-height: 8px;
  }
}
.drop .container ul li a:hover {
  color: rgb(255, 102, 51);
}

.header-img img {
  height: 190px;
  margin-top: -150px;
  margin-top: 0px;
  width: 100%;
}

.light {
  background-color: black !important;
}

.light * {
  color: grey !important;
}

.darkbtn {
  padding-top: 0px !important;
  transition: 1s !important;
  background-color: white !important;
}

.dark {
  background-color: #FBF8EC;
  margin-top: -5px;
  padding-top: 50px;
  border: none;
}
.dark .container button.dark {
  border-radius: 30px;
  background-color: yellow;
}

body {
  background-color: #FBF8EC;
}
body main {
  padding-top: 120px;
  padding-bottom: 72px;
}
body main section .container .products-header h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: rgb(65, 65, 65);
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  body main section .container .products-row {
    display: grid !important;
  }
}
body main section .container .products-row div {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: rgb(96, 96, 96);
}
body main section .container .products-row .product-card {
  width: 272px;
  background-color: white;
  height: 430px;
  padding: 8px;
}
body main section .container .products-row .product-card .product-card-footer h3 {
  padding-bottom: 8px;
}
body main section .container .products-row .product-card .product-card-footer h3 a {
  font-family: "Rubik", sans-serif;
  color: rgb(65, 65, 65);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
body main section .container .products-row .product-card .product-card-footer p i {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(65, 65, 65);
}
body main section .container .products-row .product-card .product-card-footer p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(65, 65, 65);
  width: 256px;
}
body main section .container .products-row .product-card .product-card-footer button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(112, 192, 91);
  border: 1px solid rgb(112, 192, 91);
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;
  width: 256px;
  margin-top: 16px;
}