@use "../utils/footer.scss";
@use "../utils/header.scss";
@use "../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

// variables
$font-family: 'Rubik',
sans-serif;
$main-color:rgba(65, 65, 65, 1);
$hard:rgba(143, 143, 143, 1);
$hardest:rgba(96, 96, 96, 1);

// coding 
header {
  padding-top: 139px;
  background-color: #FBF8EC;
  padding-bottom: 120px;

  @media (max-width:730px) {
    height: 3500px !important;
  }

  @media (max-width:640px) {
    height: 3700px !important;
  }

  @media (max-width:363px) {
    height: 3900px !important;
  }

  .container {
    ul.about {
      display: flex;

      li:nth-child(1) {
        margin-right: 16px;
      }

      .col-1 {
        display: flex;

        @media (max-width:875px) {
          display: grid !important;
          margin-left: -200px;
        }

        li:nth-child(2) {
          a {
            width: 590px;
            max-width: 100%;
            color: $hard;

            @media (max-width:660px) {
              font-size: 8px;
              line-height: 12px;
            }
          }
        }
      }
    }

    h1 {
      font-family: $font-family;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $main-color;
      padding-bottom: 50px;
    }

    .row {
      .col-6 {
        .about {
          display: flex;
          padding-bottom: 16px;
          width: 800px;

          @media (max-width:825px) {
            display: grid !important;
            width: 300px !important;
          }

          p.data {
            font-family: $font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $main-color;
            padding-right: 24px;
          }

          .star {
            margin-right: 8px;
            margin-top: -0px;

            i.fa {
              color: $hard;
              margin-right: 4px;
            }

            i.fa:nth-child(1) {
              color: #F63;
            }

            i.fa:nth-child(2) {
              color: #F63;
            }
          }

          p.ot {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $main-color;
            text-decoration: underline;
            margin-right: 24px;
          }

          .share {
            display: flex;
            margin-right: 24px;

            img {
              width: 24px;
              height: 24px;
            }

            a.share {
              display: block;
              font-family: $font-family;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: $main-color;
              margin-left: 8px;
              margin-top: 3px;
            }
          }

          .heart {
            display: flex;

            img {
              width: 24px;
              height: 24px;
            }

            a.heart {
              display: block;
              font-family: $font-family;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: $main-color;
              margin-left: 8px;
              margin-top: 3px;
            }
          }
        }

        .flex {
          display: flex;

          .col-2 {
            img {
              @media (max-width:1420px) {
                height: 36px !important;
              }
            }

            @media (max-width:1420px) {
              height: 278px !important;
              width: 30px !important;
            }

            width: 64px;
            height: 496px;
            margin-right: 16px;
          }

          .col-10 {
            img {
              @media (max-width:1420px) {
                width: 272px !important;
              }
            }

            .back {
              border-radius: 4px;
              background-color: #F63;
              width: 56px;
              position: relative;
              top: -480px;
              left: 428px;

              @media (max-width:1420px) {
                top: -250px;
                left: 200px;
              }

              p {
                font-family: $font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: white;
                padding: 4px 8px;
              }
            }
          }
        }
      }

      .col-6:nth-child(2) {
        padding-top: 44px;

        @media (max-width:1420px) {
          width: 344px !important;
        }

        ul.price {
          display: flex;
          justify-content: space-between;
          padding-bottom: 1px;

          li.cash {
            p.money {
              font-family: $font-family;
              font-weight: 400;
              font-size: 24px;
              line-height: 36px;
              color: $hardest;
            }

            p.small {
              font-family: $font-family;
              font-weight: 400;
              font-size: 12px;
              line-height: 28px;
              color: $hard;
            }
          }

          li.card {
            p.big {
              font-family: $font-family;
              font-weight: 700;
              font-size: 36px;
              line-height: 54px;
              color: $main-color;
            }

            p.small {
              font-family: $font-family;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: $hard;

              i.fa {
                border: 1px solid black;
                padding: 8px;
                border-radius: 50px;
                width: 24px;
              }
            }
          }
        }

        button {
          background-color: transparent;
          border: none;
          background-color: #F63;
          border-radius: 4px;
          display: flex;
          padding: 16px;
          margin: auto;
          margin-bottom: 24px;

          img {
            color: white;
          }

          p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: white;
            padding-left: 70px;
            padding-right: 70px;
          }
        }

        .region {
          display: flex;
          background-color: #F3F2F1;
          padding: 4px 8px;
          width: 584px;

          @media (max-width:1420px) {
            width: 344px !important;
          }

          p.first {
            font-family: $font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 28px;
            color: $main-color;
          }

          p.what {
            font-family: $font-family;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: $main-color;
            padding-top: 7px;
            padding-left: 180px;

            @media (max-width:1420px) {
              padding-left: 50px;
            }
          }
        }

        .center {
          display: flex;
          background-color: transparent;
          padding: 4px 8px;
          width: 584px;

          @media (max-width:1420px) {
            width: 344px !important;
          }

          p.first {
            font-family: $font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 28px;
            color: $main-color;
          }

          p.what {
            font-family: $font-family;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: $main-color;
            padding-top: 7px;
            padding-left: 82px;

            @media (max-width:1420px) {
              padding-left: 50px;
            }
          }
        }

        .last {
          display: flex;
          background-color: #F3F2F1;
          padding: 4px 8px;
          width: 584px;

          @media (max-width:1420px) {
            width: 344px !important;
          }

          p.first {
            font-family: $font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 28px;
            color: $main-color;
          }

          p.what {
            font-family: $font-family;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: $main-color;
            padding-top: 7px;
            padding-left: 162px;

            @media (max-width:1420px) {
              padding-left: 50px;
            }
          }
        }
      }
    }
  }
}

.btw {
  background-color: #FBF8EC;
  padding-top: -100px;

  .container {
    h3 {
      font-family: $font-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $hard;
    }
  }
}

section {
  background-color: #FBF8EC;
  padding-top: 0px;
  margin-top: -120px;

  .container {
    h1 {
      font-family: $font-family;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      color: $main-color;
    }

    .row {
      justify-content: space-between;

      @media (max-width:730px) {
        display: grid !important;
        justify-content: center;

        .col-3 {
          margin-bottom: 40px;
        }
      }

      .product-card{

        .col-3 {

        @media (max-width:1380px) {
          width: 224px !important;
        }

        border-radius: 4px;
        height: 380px !important;
        background-color: white;
        width: 280px;

        &:hover {
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.20);

          .img {
            .heart {
              left: 240px;
              transition: 0.5s;
            }
          }
        }

        @media (max-width:1380px) {
          .col-3:hover {
            .img {
              .heart {
                left: 100px;
                transition: 0.5s;
              }
            }
          }
        }

        .img {
          overflow: hidden;

          .negative {
            border-radius: 4px;
            background-color: rgba(255, 102, 51, 1);
            width: 56px;
            position: relative;
            top: -55px;
            left: 10px;

            h4 {
              font-family: $font-family;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: white;
              padding: 8px;
            }
          }

          .heart {
            border: none;
            background-color: #f3f2f1;
            position: relative;
            width: 32px;
            border-radius: 4px;
            top: -195px;
            left: 282px;
            height: 32px;
            z-index: 1;

            i.fa {
              padding: 8px;
              width: 24px;
              height: 24px;

              &:hover {
                color: rgba(255, 102, 51, 1);
              }
            }
          }
        }

        ul.price {
          display: flex;
          justify-content: space-between;
          margin-top: -50px;
          padding-top: 8px;

          li {
            margin-left: 8px;

            h5 {
              font-family: $font-family;
              font-weight: 700;
              font-size: 18px;
              line-height: 27px;
              color: $main-color;
            }

            p {
              font-family: $font-family;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: rgba(191, 191, 191, 1);
            }

            h6 {
              font-family: $font-family;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: $hardest;
              margin-right: 8px;
            }
          }
        }

        p.text {
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $main-color;
          width: 256px;
          margin-left: 8px;
          margin-top: 8px;
          margin-bottom: 8px;

          @media (max-width:1380px) {
            width: 208px !important;
          }
        }

        ul.star {
          display: flex;
          margin-left: 8px;
          margin-bottom: 8px;

          li {
            margin-right: 4px;

            i.fa {
              color: rgba(191, 191, 191, 1);

              &:hover {
                color: rgba(255, 102, 51, 1);
              }
            }
          }
        }

        button {
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          background-color: transparent;
          border-radius: 4px;
          border: 1px solid rgba(112, 192, 91, 1);
          color: rgba(112, 192, 91, 1);
          padding-top: 8px;
          padding-bottom: 8px;
          width: 265px;
          text-align: center;
          margin-left: 8px;

          @media (max-width:1380px) {
            width: 208px !important;
          }

          &:hover {
            color: white;
            background-color: rgba(255, 102, 51, 1);
            border: 1px solid rgba(255, 102, 51, 1);
          }
        }
      }

      .col-3:nth-child(4) {
        @media (max-width:1380px) {
          display: none;
        }

        @media (max-width:730px) {
          display: block;
        }
      }
    }
  }
}

main {
  .container {
    ul.about {
      @media (max-width:530px) {
        display: grid !important;
      }

      display: flex;
      margin-bottom: 40px;

      li {
        text-align: center;

        h1 {
          font-family: $font-family;
          font-weight: 700;
          font-size: 36px;
          line-height: 54px;
          color: $main-color;
        }

        a {
          display: block;
          margin-top: 18px;
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $hardest;

          i.fa {
            margin-left: 8px;
          }
        }
      }
    }

    .row {
      justify-content: space-between;
      padding-bottom: 72px;

      @media (max-width:730px) {
        display: grid !important;
        justify-content: center;

        .col-3 {
          margin-bottom: 40px;
        }
      }

      .col-3 {

        @media (max-width:1380px) {
          width: 224px !important;
        }

        border-radius: 4px;
        height: 380px !important;
        background-color: white;
        width: 280px;

        &:hover {
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.20);

          .img {
            .heart {
              left: 240px;
              transition: 0.5s;
            }
          }
        }

        @media (max-width:1380px) {
          .col-3:hover {
            .img {
              .heart {
                left: 100px;
                transition: 0.5s;
              }
            }
          }
        }

        .img {
          overflow: hidden;

          .negative {
            border-radius: 4px;
            background-color: rgba(255, 102, 51, 1);
            width: 56px;
            position: relative;
            top: -55px;
            left: 10px;

            h4 {
              font-family: $font-family;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: white;
              padding: 8px;
            }
          }

          .heart {
            border: none;
            background-color: #f3f2f1;
            position: relative;
            width: 32px;
            border-radius: 4px;
            top: -195px;
            left: 282px;
            height: 32px;
            z-index: 1;

            i.fa {
              padding: 8px;
              width: 24px;
              height: 24px;

              &:hover {
                color: rgba(255, 102, 51, 1);
              }
            }
          }
        }

        ul.price {
          display: flex;
          justify-content: space-between;
          margin-top: -50px;
          padding-top: 8px;
          padding-bottom: 0px;
          height: 50px;

          li {
            margin-left: 8px;

            h5 {
              font-family: $font-family;
              font-weight: 700;
              font-size: 18px;
              line-height: 27px;
              color: $main-color;
            }

            p {
              font-family: $font-family;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: rgba(191, 191, 191, 1);
            }

            h6 {
              font-family: $font-family;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: $hardest;
              margin-right: 8px;
            }
          }
        }

        p.text {
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $main-color;
          width: 256px;
          margin-left: 8px;
          margin-top: 8px;
          margin-bottom: 8px;

          @media (max-width:1380px) {
            width: 208px !important;
          }
        }

        ul.star {
          display: flex;
          margin-left: 8px;
          margin-bottom: 8px;

          li {
            margin-right: 4px;

            i.fa {
              color: rgba(191, 191, 191, 1);

              &:hover {
                color: rgba(255, 102, 51, 1);
              }
            }
          }
        }

        button {
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          background-color: transparent;
          border-radius: 4px;
          border: 1px solid rgba(112, 192, 91, 1);
          color: rgba(112, 192, 91, 1);
          padding-top: 8px;
          padding-bottom: 8px;
          width: 265px;
          text-align: center;
          margin-left: 8px;
          position: relative;
          top: -45px;

          @media (max-width:1380px) {
            width: 208px !important;
          }

          &:hover {
            color: white;
            background-color: rgba(255, 102, 51, 1);
            border: 1px solid rgba(255, 102, 51, 1);
          }
        }
      }

      .col-3:nth-child(4) {
        @media (max-width:1380px) {
          display: none;
        }

        @media (max-width:730px) {
          display: block;
        }
      }
    }
  }
}
}