@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

$font-family: 'Rubik',
sans-serif;

footer {
  background-color: #ffffff;
  padding-bottom: 58px;
  max-width: 100%;

  .container {
    display: flex;

    @media (max-width:910px) {
      display: grid !important;
    }

    li:nth-child(1) {
      padding-top: 38px;
    }

    ul.footer-menu {
      display: flex !important;
      padding-top: 34px;

      @media (max-width:910px) {
        display: grid !important;
      }

      li {
        margin-right: 40px;

        a {
          font-family: 'Rubik',
            sans-serif;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: rgba(65, 65, 65, 1);
        }

      }

      li:nth-child(1) {
        margin-top: -27px;
      }

      li:nth-child(2) {
        margin-top: 10px;

      }

      li:nth-child(3) {
        margin-top: 10px;
      }

      li:nth-child(4) {
        margin-top: 10px;
      }

      li:nth-child(5) {
        margin-top: 10px;
      }


    }

    ul.num {
      display: flex;
      padding-top: 40px;

      @media (max-width:910px) {
        display: grid !important;
        
      }

      li {
        margin-right: 16px;
      }

      li:nth-child(1) {
        margin-top: -37px;
      }


      .flex {
        display: flex !important;

        .number {
          display: flex;
          margin-left: 40px;

          img {
            width: 24px;
            height: 24px;
          }

          p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(65, 65, 65, 1);
            padding-left: 8px;
          }
        }

        .company {
          margin-left: -150px;
          display: flex;
          margin-top: 30px;

          p.design {
            font-family: $font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: rgba(65, 65, 65, 1);
          }

          img {
            width: 100px;
            height: 10px;
            margin-top: 5px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}